.wrapper {
    position:absolute;
    background-color: #d9b234;
    width: 100%;
    height: 700px;
    margin: 20px;
}

.coupon {
    background-color: yellow;
    border: 2px dashed green;
    height: 120px;
    font-size: medium;
    text-align: center;
    margin: 5px;
    padding: 5px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 180px;

.img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    box-shadow: 10px 5px 5px #44433f;
}

}

.article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    width: 60%;
    height: 600px;
    background-color: rgb(213, 216, 25);
    
}

.aside {
    position:absolute;
    top: 61%;
    left: 10px;
    width: 400px;
    height: 300px;
    background-color: rgb(226, 206, 24);
    color:black;
    padding: 20px;
    font-family: "Comic sans MS" sans;
}


.couponPlus {
    height: 50px;
    display: flex;
    flex-grow: 2;
    flex-shrink: 0;
    flex-basis: 150px;
    background-color: yellow;
    border: 2px dashed purple;
    font-size: medium;

.img {
    display:block;
    margin-left: auto;
    margin-right:auto;
    top: 15px;
    width: 80%;
    height: auto;
    border-radius: 15px;
    box-shadow: 10px 5px 5px #d9b234;
}
}

